<li class="uk-nestable-item check-item" :class="{'uk-parent': tree[term.id], 'uk-active': rootVm.isSelected(term)}" :data-id="term.id">
    <div class="uk-nestable-panel sk-table-fake uk-visible-hover uk-form">
        <div class="sk-table-width-minimum sk-table-collapse">
            <div class="uk-nestable-toggle" data-nestable-action="toggle"></div>
        </div>
        <div class="sk-table-width-minimum"><input type="checkbox" name="id" :value="term.id" number></div>
        <div class="sk-table-min-width-200">
            <a @click="rootVm.editTerm(term)">{{ term.title }}</a><br/>
            <small class="uk-text-muted">{{ term.slug }}</small>
        </div>
        <div class="sk-table-width-100 uk-text-center">
            <a :class="{'sk-icon-circle-danger': !term.status, 'sk-icon-circle-success': term.status}" @click="toggleStatus"></a>
        </div>
        <div class="sk-table-width-100 uk-text-center">#</div>
        <div class="sk-table-width-200 sk-table-max-width-150 uk-text-truncate">
            <a :title="term.url" target="_blank"
                :href="term.url"
                v-if="term.url">{{ decodeURI(term.url) }}</a>
            <span v-else>{{ term.path }}</span>
        </div>
    </div>

    <ul class="uk-nestable-list" v-show="tree[term.id]">
        <term-row v-for="term in tree[term.id]" :tree="tree" :term="term"></term-row>
    </ul>

</li>
